@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");

:root {
  --primarybrown: rgba(56, 34, 15, 0.85);
  --secondaryBrown: #967259;
  --primaryBackground: #f0f1f1;
  --greyFont: #f0f1f1;
  --yellowPapaya: #ffc700;
  --orangePapaya: orange;
  --greenPapaya: lightgreen;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Rye", cursive;
}
